body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: cadetblue;
}
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
h1{
    color: crimson;
    align-items: top;
}
.para{
    font-style: italic;
    font-weight:bolder;
    font-size: 150%;
    color: rgb(15, 15, 12);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav {
    display: flex;
    justify-content: center;
    background-color: #444;
    padding: 10px;
}
nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}
section {
    padding: 20px;
    text-align: center;
}
input{
    border-radius: 20px;
}
button{
    border-radius: 20px;
}
.new{
    float: left;
    align-items: left;
    justify-content: left;
}
.feedback-form{
    margin: 10px;
    padding: 20px;
}
.feed{
    margin: 10px;
    border-radius: 10px;
}
.portfolio{
    background: var(--second-bg-color);
    text-align: center;

}
.portfolio-content{
    grid-template-columns: repeat(auto-fit,minmax(350px,auto));
    align-items: center;
    display: grid;
    gap: 2.3rem;
    margin-top: 4.2rem;
}
.row img{
    height: auto;
    width: 100%;
    border-radius: 28px;
    margin-bottom: 1.4rem;
}
.row{
    background: #2d343f;
    border-radius: 28px;
    border: 1px solid transparent;
    box-shadow: 0 0 5px var(--main-color);
    padding: 20px;
    transition: all.50s ease;
}
.main-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}
.row h5{
    font-size: 20px;
    font-weight: 600;
    color: var(--other-color);
}
.row i{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    font-size: 27px;
    border-radius: 50%;
    color: var(--text-color);
    background: #075fe4;
}
.row h4{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 1.4;
}
.row:hover{
    border: 1px solid var(--main-color);
    transform: translateY(-5px) scale(1.03);
    cursor: pointer;
}
.contact h1{
    text-align: center;
}
.contact-form form{
    position: relative;
    width: 600px;
}
.hq{
    text-align: center;
    font-style: italic;
    font-weight: bolder;
    font-size: 50px;
    color: #333;
}
form input,form textarea{
    width: 100%;
    padding: 20px;
    border: none;
    outline: none;
    box-shadow:0 0 5px var(--main-color) ;
    background: #2d343f;
    color:var(--text-color);
    margin-bottom: 20px;
    border-radius: 8px;
}
.contact-form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4.3rem;
}